/* src/pages/Quiz/Quiz.module.css */
@import '../../styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  background-color: var(--second-bg-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.5rem; /* Ajustado para melhor legibilidade */
  margin-bottom: 20px;
  color: var(--text-color);
}

.imagemQuiz {
  width: 100%; /* Torna a imagem responsiva */
  max-width: 15rem; /* Limita o tamanho máximo da imagem */
  height: auto; /* Mantém a proporção da imagem */
  padding: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.customButton {
  background-color: #07377A;
  color: white;
  border-radius: 7px;
  width: 100%; /* Torna os botões responsivos */
  max-width: 550px; /* Limita o tamanho máximo do botão */
  height: 50px;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.customButton:hover {
  background-color: #055692;
}

.correct {
  background-color: green !important;
}

.incorrect {
  background-color: red !important;
}

@media (max-width: 900px) {
  .content {
    padding: 10px;
    max-width: 100%; /* Permite que o conteúdo expanda para a largura total em telas menores */
  }

  .title {
    font-size: 1.2rem; /* Ajusta o tamanho da fonte do título para telas menores */
  }

  .customButton {
    font-size: 0.9rem; /* Reduz o tamanho da fonte dos botões */
  }
}

@media (max-width: 600px) {
  .imagemQuiz {
    max-width: 10rem; /* Reduz ainda mais o tamanho da imagem em telas muito pequenas */
  }

  .customButton {
    padding: 8px 16px; /* Reduz o padding dos botões para se ajustarem melhor */
  }
}
