@import '../../styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  height: 750px;
  background-color: var(--second-bg-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.5rem; 
  margin-bottom: 20px;
  color: var(--text-color);
}

.imagemQuiz {
  width: 100%; 
  max-width: 15rem; 
  height: auto; 
  padding: 1rem;
}

.customButton {
  background-color: var(--fontColorAmarelo);
  color: var(--f);
  border-radius: 7px;
  width: 100%; 
  max-width: 550px; 
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1rem; 
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.customButton:hover {
  background-color: var(--colorYellowHover);
}

.correct {
  background-color: green !important;
}

.incorrect {
  background-color: red !important;
}

@media (max-width: 900px) {
  .content {
    padding: 10px;
    max-width: 90%;
  }

  .title {
    font-size: 1.2rem; 
  }

  .customButton {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .imagemQuiz {
    max-width: 10rem; 
  }

  .customButton {
    padding: 8px 16px; 
  }
}
