/* Tutorial.module.css */
img {
    display: block;   
    margin: 0 auto; 
}

.imageAcerto, .imageErro {
    width: 40rem;
    height: 35rem;
    padding: 1rem;
}

.imageFeedback {
    width: 45rem;
    height: 5rem;
}

.imageInfo, .imageFinal {
    width: 60rem;
    height: 30rem;
}

.imageNav {
    width: 45rem;
    height: 3.2rem;
}

.container {
    margin-bottom: 30px; 
    padding: 0 20px; 
}

.container p {
    text-align: left; 
    margin-left: 30px; 
}

.container h2 {
    text-align: center;
}

/* Media Queries */
@media (max-width: 800px) {
    .imageAcerto, .imageErro {
        width: 30rem;
        height: 25rem;
    }

    .imageFeedback {
        width: 30rem;
        height: 4rem;
    }

    .imageInfo, .imageFinal {
        width: 35rem;
        height: 19.5rem;
    }

    .imageNav {
        width: 35rem;
        height: 2.5rem;
    }

    .container p {
        font-size: 0.9rem; 
        margin-left: 20px; 
    }
}

@media (max-width: 550px) {
    .imageAcerto, .imageErro {
        width: 15rem;
        height: 13rem;
    }

    .imageFeedback {
        width: 17rem;
        height: 1.8rem;
    }

    .imageInfo, .imageFinal {
        width: 17rem;
        height: 8.5rem;
    }

    .imageNav {
        width: 17rem;
        height: 1.3rem;
    }

    .container {
        padding: 0 5px; 
    }

    .container p {
        font-size: 0.7rem; 
        margin-left: 5px; 
    }
}

