/* Tutorial.module.css */
img {
    display: block;   
    margin: 0 auto; 
}

.imageAcerto, .imageErro {
    width: 40rem;
    height: 35rem;
    padding: 1rem;
}


.imageFeedback {
    width: 45rem;
    height: 5rem;
}

.imageInfo, .imageFinal {
    width: 60rem;
    height: 30rem;
}

.imageNav {
    width: 45rem;
    height: 3.2rem;
}


.container {
    margin-bottom: 30px; 
    padding: 0 20px; 
}

.container p {
    text-align: left; 
    margin-left: 30px; 
}

.container h2 {
    text-align: center;
}

@media (max-width: 768px) {
    .imageContainer {
        width: 12rem; 
        height: 12rem;
    }

    .container p {
        font-size: 0.9rem; 
        margin-left: 20px; 
    }
}

@media (max-width: 480px) {
    .imageContainer {
        width: 10rem; 
        height: 10rem;
    }

    .container {
        padding: 0 10px; 
    }

    .container p {
        font-size: 0.8rem; 
        margin-left: 10px; 
    }
}
