/* Tutorial.module.css */
.imageContainer {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    display: block;   
    margin: 0 auto; 
}

.funcionamentoQuiz, .funcionamentoFormulario, .funcionamentoInformacoes {
    margin-bottom: 30px; 
    padding: 0 20px; 
}

.funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
    text-align: left; 
    margin-left: 30px; 
}

.funcionamentoQuiz h2, .funcionamentoFormulario h2, .funcionamentoInformacoes h2 {
    text-align: center;
}

@media (max-width: 768px) {
    .imageContainer {
        width: 12rem; 
        height: 12rem;
    }

    .funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
        font-size: 0.9rem; 
        margin-left: 20px; 
    }
}

@media (max-width: 480px) {
    .imageContainer {
        width: 10rem; 
        height: 10rem;
    }

    .funcionamentoQuiz, .funcionamentoFormulario, .funcionamentoInformacoes {
        padding: 0 10px; 
    }

    .funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
        font-size: 0.8rem; 
        margin-left: 10px; 
    }
}
