/* Tutorial.module.css */
.imageContainer {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    display: block; /* Garantir que a imagem seja um bloco */  
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.funcionamentoQuiz, .funcionamentoFormulario, .funcionamentoInformacoes {
    margin-bottom: 30px; /* Espaçamento entre os blocos */
    padding: 0 20px; /* Padding lateral para não colar no borda em telas menores */
}

.funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
    text-align: center;
}

.funcionamentoQuiz h2, .funcionamentoFormulario h2, .funcionamentoInformacoes h2 {
    text-align: center;
}

/* Media Queries para ajustes em telas menores */
@media (max-width: 768px) {
    .imageContainer {
        width: 12rem; /* Reduz o tamanho da imagem para não ocupar muito espaço */
        height: 12rem;
    }

    .funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
        font-size: 0.9rem; /* Reduz o tamanho da fonte para melhorar a legibilidade */
    }
}

@media (max-width: 480px) {
    .imageContainer {
        width: 10rem; /* Mais reduções para telas muito pequenas */
        height: 10rem;
    }

    .funcionamentoQuiz, .funcionamentoFormulario, .funcionamentoInformacoes {
        padding: 0 10px; /* Menos espaço lateral para aproveitar ao máximo a largura da tela */
    }

    .funcionamentoQuiz p, .funcionamentoFormulario p, .funcionamentoInformacoes p {
        font-size: 0.8rem; /* Ainda menor para garantir legibilidade em dispositivos muito pequenos */
    }
}
