/* Estilização básica */
.titulo {
    text-align: center;
    font-size: 24px; 
    color: #07377A;
    padding: 20px 0;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column; /* Adiciona esta linha */
}


.containerPrimario, .containerSecundario {
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1;
}

.containerPrimario h2, .containerSecundario h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.containerPrimario p, .containerSecundario p,
.containerPrimario a, .containerSecundario a {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: #555;
}

.listaTutorial {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

.listaTutorial li {
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.listaTutorial li a {
    text-decoration: none;
    color: #0645AD;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column; /* Empilha os containers verticalmente em telas menores */
    }

    .containerPrimario, .containerSecundario {
        margin: 10px 0; /* Ajusta as margens para layout vertical */
        width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
    }

    .titulo {
        font-size: 20px; /* Reduz o tamanho da fonte do título */
    }

    .containerPrimario h2, .containerSecundario h2 {
        font-size: 16px; /* Reduz o tamanho da fonte dos subtítulos */
    }

    .containerPrimario p, .containerSecundario p,
    .containerPrimario a, .containerSecundario a {
        font-size: 14px; /* Reduz o tamanho da fonte para melhor legibilidade em telas menores */
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 18px; /* Reduz ainda mais o tamanho da fonte do título para telas muito pequenas */
    }

    .containerPrimario h2, .containerSecundario h2 {
        font-size: 15px; /* Ajusta o tamanho da fonte dos subtítulos para telas muito pequenas */
    }

    .containerPrimario, .containerSecundario {
        padding: 15px; /* Reduz o padding para economizar espaço */
    }

    .listaTutorial li {
        padding: 8px; /* Reduz o padding dos itens da lista */
    }
}
