/* src/components/Navbar/Navbar.module.css */
@import '../../styles/variables.css';

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #07377A;
}

.desktopNavbar, .mobileNavbar {
  display: none;
}

/* Estilo para desktop */
@media (min-width: 1025px) {
  .desktopNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .desktopNavbar h2 a, .desktopNavbar ul {
    color: var(--text-color);
    text-decoration: none;
  }

  .desktopNavbar ul {
    display: flex;
    gap: 1rem;
  }

  .desktopNavbar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: var(--text-color);
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
  }

  .desktopNavbar li a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }

  .desktopNavbar li a:hover {
    text-decoration: underline;
  }
}

/* Estilo para mobile */
@media (max-width: 1024px) {
  .mobileNavbar {
    display: block;
    background-color: #07377A;  /* Define a cor de fundo do navbar móvel */
  }

  .mobileNavbar .icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobileNavbar .icon img {
    width: 100%;
    height: auto;
  }

  /* TODO: fazer com que a navbar fique parecendo mobile, pois os icones não estão */
  .mobileNavbar h2 {
    display: none; /* Ocultar o nome quando o menu móvel estiver ativo */
  }
}
